// colors
$gray: #eee;
$darkblue: #0D1533;
$blue: #1453A3;
$white: #fff;
$orange: #F26A60;
$green: #46A396;

// typography
$bodyFontStack: "chaparral-pro", Georgia, serif;
$headlineFontStack: "freight-sans-pro", Helvetica, sans-serif;
$codeFontStack: "source-code-pro", monospace;

$baseFontSize: 16;
$baseLineHeight: 26;

// layout settings
$maxWidth: 660px;
