!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='author', content='Brandon Carrell')
    meta(name='description', content='Blog and projects')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= post.title
    link(rel='stylesheet', href='/css/master.css')
    link(rel='stylesheet', href='//weloveiconfonts.com/api/?family=zocial')
  body
    header
      .icon
        a(href="/")
          .block
            span.symbol λ
      .info
        h5.name Brandon Carrell
        div.description
          h6.description__text developer // internet adventurer
          .twrapper
            .description__icons
              a.zocial-github(href="https://github.com/bcarrell")
              a.zocial-email(href="mailto:brandoncarrell@gmail.com")

    #post-content
      h6.gray= post.date
      h2.post-content__title= post.title
      != content
    .back
      a(href='/') go back

  script(type='text/javascript', src='//use.typekit.net/hfn1abq.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}
