!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='author', content='Brandon Carrell')
    meta(name='description', content='Blog and projects')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= post.title
    link(rel='stylesheet', href='/css/master.css')
  body
    header
      h1 my awesome blog

    #posts
      h2= post.title
      != content
      a(href='/') &laquo; back to index

  script(type='text/javascript', src='//use.typekit.net/hfn1abq.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}
