section
  h3 Posts
  ul#posts
    - each post in sort(site.posts, { by: 'date' })
      li
        span.post__date
          h6= post.date
        span.laq &raquo;
        span.post__title
          a(href="#{post.url}")= post.title

section
  h3 Projects
  ul#projects
    li
      span.project__title
        a(href="http://github.com/bcarrell/verify") Verify
      span.project__lang .go
      span.laq &raquo;
      span.project__desc A chainable string validation library
    li
      span.project__title
        a(href="http://github.com/bcarrell/tinyjson") TinyJSON
      span.project__lang .go
      span.laq &raquo;
      span.project__desc A helper for working with JSON
    li
      span.project__title
        a(href="http://github.com/bcarrell/tvpm") TVPM
      span.project__lang .go
      span.laq &raquo;
      span.project__desc A command line "package manager" for tv shows
    li
      span.project__title
        a(href="http://github.com/bcarrell/refurry") Refurry
      span.project__lang .js
      span.laq &raquo;
      span.project__desc A web application that builds "cheat sheets"
