section.blog
  h2.blog-posts-header
    i.icon-bookmark-empty.green-text
    | &nbsp;&nbsp;Posts
  ul.posts-list.small-pushdown
    - each post in sort(site.posts, { by: 'date' })
      li
        span.muted-text
          strong
            =post.date
          i.icon-double-angle-right.side-space.muted-text
        a(href="#{post.url}")= post.title
section.projects
  h2.projects-header.large-pushdown
    i.icon-beaker.green-text
    | &nbsp;&nbsp;Projects
  div.2013.small-pushdown
    strong.muted-text 2013 
      i.icon-double-angle-right.side-space.muted-text
  ul.projects-list
    li
      a(href="http://refurry.com") Refurry
      | : a web app that generates reference sheets.
      .muted-text Written with a MEAN stack: MongoDB, Express, Angular, Node.js.
section.resume
  h2.resume-header.large-pushdown
    i.icon-male.green-text
    | &nbsp;&nbsp;Professional
  div.small-pushdown
    strong.muted-text 2012 - present
      i.icon-double-angle-right.side-space.muted-text
  div.resume-item
    h5.strip-margins Full-stack Web Developer
    h6.muted-text @ Comcast, National Engineering & Technical Operations
    .asphalt-text.description
      | I create internal web applications and automation in support
      | of change management activities across nationwide Comcast 
      | infrastructure using Agile methodology and a variety of
      | technologies, including, but not limited to:  
      strong.green-text Python
      | , 
      strong.green-text Django
      | , 
      strong.green-text AngularJS
      | , 
      strong.green-text ExtJS
      | , 
      strong.green-text Cassandra
      | , 
      strong.green-text Solr
      | , and 
      strong.green-text MySQL
      | .
  div.medium-pushdown
    strong.muted-text 2011 - 2012
      i.icon-double-angle-right.side-space.muted-text
  div.resume-item
    h5.strip-margins Software Engineer
    h6.muted-text @ Aurora Information Systems
    .asphalt-text.description
      | I was responsible for design and development of a software application
      | addressing all functional areas of the food service industry including forecasting,
      | precosting, menu planning, food purchasing, production and inventory control,
      | catering, nutritive analysis, point-of-sales, post-cost reporting, and financial
      | analysis.
section.education
  h2.education-header.large-pushdown
    i.icon-lightbulb.green-text
    | &nbsp;&nbsp; Education
  div.small-pushdown
    strong.muted-text 2011
      i.icon-double-angle-right.side-space.muted-text
    |  Rutgers University, BS. Computer Science
