!!!
html
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Brandon Carrell - blog, projects, and resume")
    meta(name="author", content="Brandon Carrell")

    title= title
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic,400italic|Bitter:400,700")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    link(rel="stylesheet", href="/css/master.css")

  body
    .container
      .sidebar
        .me-wrapper
          section.greeting
            h1 Hi!
          section.logo
            a(href="/")
              img(src="/img/bclogo.png")
          section.intro
            h4 I"m <strong>Brandon Carrell</strong>, a web developer.
            hr
            p I have a thing for Javascript and Go.
          section.social
            ul
              li.small-side-space
                a(href="http://github.com/bcarrell")
                  i.icon-github-sign.icon-2x
              li.small-side-space
                a(href="http://twitter.com/harmspam")
                  i.icon-twitter-sign.icon-2x
              li.small-side-space
                a(href="mailto:brandoncarrell@gmail.com")
                  i.icon-envelope.icon-2x


      .main
        .main-wrapper
          != content

  //- add other scripts through require.js, not here
  //- script(data-main="/js/main", src="/js/require.js")

  //- this must be included for live reload to work in developement
  //- it will be automatically ignored when deployed
  != livereload