// -------------------------------------------------------
// Roots global settings variables
// -------------------------------------------------------

// font options (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// colors
red = #B44326
orange = #F2A34F
yellow = #F8CA5C
green = #2ecc71
gray = #ddd
light-blue = #52D7FE
blue = #00a6fc
purple = #8E48C2
white = #fff
black = #272727
clouds = #ecf0f1
midnight = #2c3e50
concrete = #95a5a6
asbestos = #7f8c8d
asphalt = #34495e

// default font stack
font-stack = "Source Sans Pro", helvetica-neue
font-size = 20
font-color = midnight

// default color
default-color = blue

// text hilight color
hilight-color = blue

// vendor prefixes
vendors = webkit moz o ms official

// custom image base path for roots mixins
img-path = 'img'

// progressive internet explorer (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'

// grid settings
column-width = 60px
gutter-width = 20px
columns = 12
total-width = 100%

h1
h2
h3
h4
h5
h6
  line-height: 1.6em
  font-family: 'Bitter', serif

body
  zoom: 0
  background-color: clouds

.large-pushdown
  margin-top: 80px !important

.medium-pushdown
  margin-top: 40px !important

.small-pushdown
  margin-top: 25px !important

.tiny-pushdown
  margin-top: 10px !important

.zero-pushdown
  margin-top: 0px !important

.strip-margins
  margin: 0px !important

.text-right
  text-align: right

.green-text
  color: green

.asphalt-text
  color: asphalt

.muted-text
  color: asbestos

// .thin
//   font-weight: 300

.small-side-space
  margin-left: 6px
  margin-right: 6px

.side-space
  margin-left: 12px
  margin-right: 12px

.pull-left
  float: left