@import '_settings'
@import 'jeet'

jeet-gutter = 0

normalize()
base()
typography()

*
  box-sizing border-box

[class*="zocial-"]:before
    font-family: 'zocial', sans-serif

h1, h2, h3, h4, h5, h6
  font-family myriad
  font-weight bold
  text-transform none

body
  min-width: 15rem
  max-width: 38rem
  margin: 0 auto
  padding: 0 1rem

pre
  fs(16px)
  font-family source
  background offwhite
  padding 6px 10px
  border 1px solid darken(offwhite, 10%)
  font-weight bold

// a
//   color #2c3e50

//   &:hover
//     color #2c3e50

header
  @extend $cf
  border-bottom 1px solid light-gray
  padding 8px
  text-align center

section
  margin 40px 0

.laq
  margin 0 10px

.icon
  stack()

.block
  center()
  size(75 75)
  background linear-gradient(top left, mimosa, orchid)
  box-shadow inset 0 0 4px black
  color #2c3e50
  transition all 0.5s ease-out-sine

  &:hover
    transition all 0.5s ease-out-sine
    color white
    cursor pointer

.symbol
  fs(62px)
  font-weight bold

.name
  font-weight bold

.description
  inline-block()
  width 100%
  position relative

.description__text
  font-style italic
  color gray
  font-size 90%

.twrapper
  display table
  margin 0 auto

.description__icons
  inline-list()

.description__icons li
  cursor pointer
  color blue
  transition all 0.2s ease-out-sine

  &:hover
    transition all 0.2s ease-out-sine
    color darken(blue, 30%)

#posts, #projects
  margin 20px 5px
  li
    list-style-type none

footer
  fs(82%)
  @extend $cf
  border 1px solid lightgray
  padding 8px
  color gray
  margin-bottom 60px

  h6
    fs(82%)

.project__title
  font-family source
  fs(20px)

.project__lang
  font-family source
  fs(14px)

.post__date, .post__title
  inline-block()

.post__date h6
  fs(16px)
  color gray

.post__title
  margin-left 16px

#post-content
  border-bottom 4px solid light-gray
  padding-bottom 60px
  margin-top 40px
  margin-bottom 60px

.back
  text-align center
  margin-bottom 60px

@media screen and (min-width: 700px)
  header
    margin-top 40px

  .icon
    col(1/5)

  .info
    col(4/5)
    text-align left

  .description__text
    col(4/5)

  .twrapper
    display block
    col(1/5)

  .block
    position relative
    top 4px
    left -16px

  .symbol
    position relative
    top -3px
