@import '_settings'

normalize()
base()
typography()
grid()

.container
  max-width: 960px
  margin: 0 auto

.main
.sidebar
  column(12)

.main
  margin-bottom: 75px

.sidebar
  border-bottom: 1px solid gray

.me-wrapper
  text-align: center
  margin-bottom: 50px
  section.logo
    display: none
  section.intro
    hr
      border: dotted gray;
      margin-top: 15px;
      border-width: 4px 0 0;
  section.social
    ul
      ul: none
      margin: 0
      padding: 0
      li
        display: inline-block
        color: green
        hover-darken: 25%
        transition: all .1s ease-in-sine
        a
          reset-link()

section.blog
section.resume
section.projects
section.education
  padding: 10px 0px 0px 10px

.blog-posts-header
.projects-header
.resume-header
  margin-bottom: 10px

.resume-item
  margin: 15px 15px;
  padding-left: 1em;
  .description
    border-left: 4px dotted gray
    margin: 10px 10px;
    padding-left: 0.5em;

.posts-list
  reset-list()
.projects-list
  ul: none

.blog-post
  margin-top: 25px

  .blog-post__content
    margin-top: 40px

// grid settings for larger devices
@media (min-width: 720px)
  .main
    column(9)
    margin-bottom: 150px
  .sidebar
    border-bottom: 0px
    column(3)

  .me-wrapper
    margin-top: 25px
    section.logo
      display: inline-block
      transition-duration: 1s
      transition-property: transform
      &:hover
        transform:rotate(315deg)
      a
        reset-link()

  .main-wrapper
    margin-top: 7px
    padding-left: 40px

