<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Brandon Carrell">
  <meta name="description" content="Blog and Projects">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <base href="{{ .Site.BaseUrl }}">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{ template "chrome/header.html" }}
  <main class="post">
    <div class="post__info">
      <h1 class="post__title">{{ .Title }}</h1>
      <span class="post__date">
        {{ .Date.Format "Monday, Jan 2, 2006" }}
      </span>
    </div>
    <article class="post__content">{{ .Content }}</article>
    <aside class="talk">
      <h5>Want to talk about this post? <br/>Send me an <a href="mailto:brandoncarrell@gmail.com">email</a>.</h5>
    </aside>
  </main>

  {{ template "chrome/scripts.html" }}
</body>
</html>
