<header>
  <div class="icon">
    <a href="/">
      <div class="block"><span class="symbol">λ</span></div>
    </a>
  </div>
  <div class="info">
    <h5 class="name">Brandon Carrell</h5>
    <div class="description">
      <h6 class="description__text">developer // internet adventurer</h6>
      <div class="twrapper">
        <div class="description__icons">
          <a class="zocial-github" href="https://github.com/bcarrell"></a>
          <a class="zocial-email" href="mailto:brandoncarrell@gmail.com"></a>
        </div>
      </div>
    </div>
  </div>
</header>
