<header>
  <section class="site-header">
    <div class="site-header__name">
      <h4>
        <a class="brand" href="/" class="name">Brandon Carrell</a>
      </h4>
    </div>
    <nav class="site-header__links">
      <span class="nav-link">
        <h6>
          <a class="nav-link__href" href="/posts">Posts</a>
        </h6>
      </span>
      <span class="nav-link">
        <h6>
          <a class="nav-link__href" href="https://github.com/bcarrell">Projects</a>
        </h6>
      </span>
    </div>
  </section>
</header>
