<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Brandon Carrell">
  <meta name="description" content="Blog and Projects">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <base href="{{ .Site.BaseUrl }}">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{ template "chrome/header.html" }}
  <main>
    <section class="splash">
      <div class="splash__img">
        <img class="outline" src="/img/me.jpeg" />
      </div>
      <div class="splash__intro">
        <h3>I'm a software engineer — at <a href="http://www.comcast.com">Comcast</a>.</h3>
        <p>My interests include functional programming, homoiconic languages,
        and concurrent computing.  My favorite tools are Clojure[Script], JavaScript,
        Go, Vim, and OSX.  If you'd like to reach out about an interesting topic, be sure to send me an
        email.  I'm always listening.</p>
      </div>
    </section>
  </main>

  {{ template "chrome/footer.html" . }}
  {{ template "chrome/scripts.html" }}
</body>
</html>
