---
title: Automate Everything
date: 11/04/2013
layout: ../views/layout.jade
---

.blog-post
  .blog-post__title
    :markdown
      Automate Everything
      ===================
  .blog-post__content
    :markdown
      I work on an automation team for one of the largest telecoms in the country, so
      it should come as no surprise that I have a great deal of affection for automation and
      shortcuts.

      Actually, that's downplaying it -- the truth is, **I automate everything that I can think
      of, and you should too**.  I obsess over my Ansible playbooks and spend way too much time optimizing
      my Gruntfiles.  My friends and coworkers are baffled by how much time I spend
      tweaking every aspect of my workflow, so that every contact point is as optimized
      as possible.

      People familiar with MMORPGs will know that some players are derisively regarded as
      "clickers."  This means that they use their mouse to activate all of their character's
      abilities instead of using the corresponding keyboard shortcut.  Clicking is slow.  Clicking 
      makes you slow.  Clicking makes you lose.  The keyboard is faster.

      Think about how much time you spend doing mundane tasks.

      **Want to be a faster developer?  Here's a few suggestions:**

      * Work with servers?  Use some kind of configuration management and provisioning tool.  I use Ansible, but 
        you should choose the tool that works for you.  But use something.  If you don't, you're slow, and you're
        wasting time that otherwise could be spent working on your product or doing something fun.

      * Use a Mac?  Replace Spotlight with Alfred.  Spotlight is junk.  You can do lots of things with Alfred, like:
        * Use Dash to make documentation searches ultra-fast because they're cached locally and easily searchable.
        * Use 1Password to generate long randomized passwords and log into your accounts with a command like `1p amazon`.
        * The fastest "I'm feeling lucky" searches possible, like `l golang`.  Think about how often you click the first Google link.  Replace
          that with *I'm feeling lucky*.
        * Create Evernote notes -- try to make one for everything that you feel could be faster, and come back and automate it.
        * Move windows around your screen with your keyboard.
        * ... and lots more.  Make workflows for everything.

      * Use vim?  Use Chrome's Vimium extension.  It'll give you Vim keybinds in your browser.  `10j` all day.

      Your mouse is slow.  Strive to not use it, and you'll be faster.  Once you've conquered that, reduce your number of keystrokes and 
      then you'll achieve automation nirvana.