---
title: hello world
date: 1/1/1970
layout: ../views/_single_post.jade
---

:markdown
  Dolor consectetur minima placeat excepturi minima consequuntur repellat fuga nisi. Enim magnam praesentium voluptatibus a quidem dolores. Doloremque non repellendus possimus sequi iste? Exercitationem ut qui mollitia autem aliquid aperiam?
  ```javascript
  var a = 4;
  a += 4;

  function() {
    a += 5;
    for (var i = 0; i < 100; i++) {
      a += 1;
    }
  }
  ```
  Consectetur itaque quasi culpa nam pariatur delectus? Maiores placeat earum officiis voluptates repudiandae? Beatae totam veritatis ullam et ullam officia nihil magnam blanditiis nulla mollitia doloribus! Magni sunt quos officia!
